{% extends 'base.html' %}

{% set page_title = "About Us" %}

{% block body %}
    When in doubt, start with a question. That’s exactly what Magic Spoon—a brand that creates healthy cereals for
    grownups—does with the introductory paragraph on its About Us page.
    <br><br>
    Want to take it to a level higher? Start your About page with a question that pulls on your audience’s emotions. The
    makers of Magic Spoon pose an effective first question that makes you think:
    <br><br>
    “Remember the carefree days of childhood, when you didn’t feel guilty about eating mountains of cereal with
    questionable nutrition?”
    <br><br>
    Additionally, don’t be afraid to use bright, fun colors on your About Us page (assuming they’re part of your brand
    identity) to make your brand more memorable. Now, where Magic Spoon really shines is its comparison chart. It
    doesn’t hold back on giving you a clear visual of how its cereal compares to the competition.
    <br><br>
    Plus, Magic Spoon’s copy is relatable to its audience. Why sound like a stiff corporate welcome packet when you
    don’t have to?
{% endblock %}
